#services {
	padding: 60px 20px;
}

#services h3 {
	font-family: 'Justus Bold';		
	margin-bottom: 14px;
}

#services em {
	font-size: 20px;
	font-family: 'Justus Roman';
	font-style: normal;		
}

#services ul {
	padding: 10px 20px;
	background: #fff;	
  	-webkit-box-shadow: 0px 3px 6px 0px #242324;
          box-shadow: 0px 3px 6px 0px #242324;
	margin-bottom: 40px;
}

#services li {
	display: list-item;
	line-height: 2em;
}

#services .additional-info {
	list-style-type: disc;	
}
#services .additional-info li {
	margin-left: 15px;	
}