<!-- Website Contact Form Generator --> 
<!-- http://www.tele-pro.co.uk/scripts/contact_form/ --> 
<!-- This script is free to use as long as you  --> <!-- retain the credit link  -->
<div id="email-us">
	<div class="js-error-box">Uh, Oh. Looks like you missed a few fields! Can you fill those in? Thanks!</div>
	<form method="POST" action="contact.php"> Fields marked (*) are required
		<input type="hidden" name="mailTo" value="suiteat116@gmail.com" />
		<p>First Name:* <br /> <input class="text fname" name="FirstName" type="text" /></p>
		<p>Last Name:* <br /> <input class="text lname" name="LastName" type="text" /></p>
		<p>Address:* <br /> <input class="text addy" name="Address" type="text" /></p>
		<p>City:* <br /> <input class="text city" name="City" type="text" /></p>
		<p>State:* <br /> <input class="text state" name="State" type="text" /></p>
		<p>Post Code:* <br /> <input class="text pcode" name="PostCode" type="text" /></p>
		<p>Tel:* <br /> <input class="text tel" name="Tel" type="text" /></p>
		<p>Mobile: <br /> <input class="text mobile" name="Mobile" type="text" /></p>
		<p>Email:* <br /> <input class="text email" name="Email" type="text" /></p>
		<p>Comments: <br /> <textarea class="comments" name="Comments"></textarea></p>
		<p>
			How did you hear about us? <br />
			<input name="Yelp" type="checkbox" value="checked" /><span>Yelp</span><br />
			<input name="SearchEngine" type="checkbox" value="checked" /><span>Google, Bing, or Yahoo</span><br />
			<input name="Friend" type="checkbox" value="checked" /><span>Referred By A Friend</span><br />
			<input name="Other" type="checkbox" value="checked" /><span>Other</span><br />
		</p>
		<p><input name="submit" value="Submit" type="submit" /></p>
		<input name="Subscriber" type="checkbox" value="checked" checked="checked" /><span>This is just so we can keep you up to date with what we have to offer. Uncheck it if you're not really interested. :)</span>
	</form>
<div class="direct">OR contact us directly <a href="mailto:suiteat116@gmail.com">suiteat116@gmail.com</a></div>