<section class="body">
	<div id="faq">
		<h2>Frequently Asked Questions</h2>
		<ul>
			<li>
				<h3>How much is security deposit fee?</h3>
				<p>There is a $200 security deposit fee on top of total cost of rental.</p>
			</li>
			<li>
				<h3>Time for setting up?</h3>
				<p>With any rental we give 1 hour complimentary for set up time.</p>
			</li>
			<li>
				<h3>How many people does space hold?</h3>
				<p>The space holds 65-75 seating between the 2 adjoining rooms, or 110 standing.</p>
			</li>
			<li>
				<h3>How many bathrooms?</h3>
				<p>There are 2 bathrooms.</p>
			</li>
			<li>
				<h3>Sound system capabilities?</h3>
				<p>The house sound system is mpg accessible (iPod, laptop, other).</p>
			</li>
			<li>
				<h3>Can I bring my own food?</h3>
				<p>Yes, we allow your party to bring in food and beverages.</p>
			</li>
			<li>
				<h3>Refrigeration capabilities?</h3>
				<p>The space is equipped with a large refrigerator.</p>
			</li>
			<li>
				<h3>When do I get my deposit back?</h3>
				<p>Deposits are given to guest at the end of contracted time, as long as space isn't damaged. FYI guest are given a 20 min grace period at the end of contracted time to leave premises.</p>
			</li>
			<li>
				<h3>Is the space wheel chair accessible?</h3>
				<p>We do not have wheel chair access at this time.</p>
			</li>
			<li>
				<h3>Can we bring our own DJ?</h3>
				<p>Yes. However DJs cannot bring their own subwoofers.</p>
			</li>
			<li>
				<h3>Can I stream video? Photos?</h3>
				<p>Videos or Photos can be streamed on house TVs from a DVD format.</p>
			</li>
			<li>
				<h3>Do you have an in-house Event Designer?</h3>
				<p>Yes. Please call us or see <a href="/kids.php">Family Packages</a> for more information.</p>
			</li>
			<li>
				<h3>How much is need to save the date and time of my event?</h3>
				<p>50% of the total rental is required to lock the date.</p>
			</li>
			<li>
				<h3>What forms of payments do you accept?</h3>
				<p>We accepted cash, money order or credit/debit.</p>
			</li>
		</ul>
	</div>
</section>