<ul class="bxslider">
    <li><img src="imgs/room7.jpg" /></li>
    <li><img src="imgs/room010.jpg" /></li>
    <li><img src="imgs/room011.jpg" /></li>
    <li><img src="imgs/room012.jpg" /></li>
    <li><img src="imgs/room013.jpg" /></li>
    <li><img src="imgs/room014.jpg" /></li>
    <li><img src="imgs/room015.jpg" /></li>
    <li><img src="imgs/room08.jpg" /></li>
    <li><img src="imgs/room09.jpg" /></li>    
    <li><img src="imgs/room6.jpg" /></li>
    <li><img src="imgs/room1.jpg" /></li>
    <li><img src="imgs/room2.jpg" /></li>
    <li><img src="imgs/room3.jpg" /></li>
    <li><img src="imgs/room4.jpg" /></li>
    <li><img src="imgs/room5.jpg" /></li>
</ul>
<ul class="packages">
    {{#each touts}}
      <li>
        <a href="{{link}}"><span>{{title}}</span></a>
        <figure>
          <img src="imgs/{{image}}" />
        </figure>
        <p>{{{copy}}}</p>
      </li>
    {{/each}}
</ul>