
<section class="body kids">
	<h2>Family Packages</h2>
	
	<div class="photos">				
		<ul class="bxslider">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>		
	</div>

	<div class="rates-info">
		<h2>Price List</h2>
		
		<section class="pricing center">
			<section>
				<img src="imgs/package3.png" />
				<section class="bold uppercase">Current Value Package</section>
				<section>
					<p><span class="highlight underline">Rental Items Include: </span></p>					
					<p><span class="highlight">2 </span>Panel Ceiling Draping</p>
					<p>Up to <span class="highlight">10</span> Tables (Round, Rectangular or Cocktail)</p>
					<p><span class="highlight">55 </span>Folding Chairs</p>										
					<p><span class="highlight">9</span> Table Covers &amp; Skirts (Any Color)</p>
					<p>30 Helium Balloons ( Any Color)</p>															
				</section>
				<section class="bold">
					<p><span class="highlight underline day-hour">Saturday 4 Hour</span> Rate: <span class="rate">$880</span> Any 4 hours between</p>
					<p class="center"><span class="glow underline time">11:00am - 6:00pm</span></p>
					<p><span class="highlight underline day-hour">Sunday 4 Hour</span> Rate: <span class="rate">$800</span> Any 4 hours between</p>
					<p class="center"><span class="glow underline time">11:00am - 6:00pm</span></p>					
				</section>
				<section class="bold uppercase">Security Deposit</section>					
				<section>					
					<p class="special-copy">Your <span class="highlight glow">$200</span> Security Deposit is included in the prices
					above and will be refunded to the renter at the end of
					the renter’s event provided the space and its
					equipment isn’t damaged nor lost.</p>
				</section>
			</section>
		</section>			
	</div>


	<div id="email-kids">
		<h2>Contact a Birthday / Shower Planner</h2>
		<div class="js-error-box">Uh, Oh. Looks like you missed a few fields! Can you fill those in? Thanks!</div>
		<form method="POST" action="contact.php"> Fields marked (*) are required		
			<input type="hidden" name="mailTo2" value="suiteat116@gmail.com" />
			<input type="hidden" name="Mode" value="kids" />
			<input type="hidden" name="service" value="kids events" />
			<p>Email:* <br /> <input class="text email" name="Email" type="text" /></p>
			<p>Tel:* <br /> <input class="text tel" name="Tel" type="text" /></p>
			<p>Comments: <br /> <textarea class="comments" name="Comments"></textarea></p>	
			<p><input name="submit" value="Submit" type="submit" /></p>		
		</form>
	</div>
</section>
