
<section class="body kids">
	<h2>Family Packages</h2>
	
	<div class="photos">				
		<ul class="bxslider">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>		
	</div>

	{{#each table}}			
		<table id="{{tableID}}-table">
			<thead>
				<tr>					
					<th colspan="3">{{packageType}}</th>					
				</tr>
			</thead>
			<tr>
			{{#each packages}}
				<td>{{title}}</td>
			{{/each}}
			</tr>
			<tr>
			{{#each guests}}
				<td>Accomodates up to {{amount}} guests</td>
			{{/each}}
			</tr>
			
			<tr>
			{{#each packages}}
				<td class="hours">{{rentaltime}}</td>							
			{{/each}}
			</tr>			

			<tr>
			{{#each packages}}
				<td>{{item1}}</td>							
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{item2}}</td>
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{item3}}</td>							
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{item4}}</td>
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{item5}}</td>							
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{item6}}</td>
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{item7}}</td>
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{{item8}}}</td>
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{item9}}</td>
			{{/each}}
			</tr>

			<tr>
			{{#each packages}}
				<td>{{{item10}}}</td>
			{{/each}}
			</tr>

			<tr class="item11">
			{{#each packages}}
				<td>{{{item11}}}</td>
			{{/each}}
			</tr>
			
			<tr class="item12">
			{{#each packages}}
				<td>{{{item12}}}</td>
			{{/each}}
			</tr>
			
			<tr class="item13">
			{{#each packages}}
				<td>{{item13}}</td>
			{{/each}}
			</tr>
			
			<tr>
				<td>Party add-ons are offered<br> at an additional cost</td>
				<td>Party add-ons are offered<br> at an additional cost</td>
			</tr>
			<tr>
			{{#each packages}}
				<td class="price">${{price}}</td>
			{{/each}}
			</tr>	

		</table>
	{{/each}}

	<div id="email-kids">
		<h2>Contact a Birthday / Shower Planner</h2>
		<div class="js-error-box">Uh, Oh. Looks like you missed a few fields! Can you fill those in? Thanks!</div>
		<form method="POST" action="contact.php"> Fields marked (*) are required		
			<input type="hidden" name="mailTo1" value="thompson18200@yahoo.com" />
			<input type="hidden" name="mailTo2" value="suiteat116@gmail.com" />
			<input type="hidden" name="Mode" value="kids" />
			<p>Email:* <br /> <input class="text email" name="Email" type="text" /></p>
			<p>Tel:* <br /> <input class="text tel" name="Tel" type="text" /></p>
			<p>Comments: <br /> <textarea class="comments" name="Comments"></textarea></p>	
			<p><input name="submit" value="Submit" type="submit" /></p>		
		</form>
	</div>
</section>