<section class="body">	
		<h2>Suite 116 Price list </h2>		
		<section class="pricing center">									
			<section>
				<img src="imgs/suitepackage1.png" />				
				<section>
					<p><span class="highlight underline">Rental Items Include: </span></p>

					<p><span class="highlight">2</span> Rooms – Clean Up is Included</p>
					<p><span class="highlight">1</span> Complimentary Hour Prior to start time</p>
					<p>Security Agent (Events after 10pm)</p>
					<p>IPod Accessible Sound Speaker</p>
					<p><span class="highlight">2</span> Bathrooms</p>
					<p><span class="highlight">1</span> Refrigerator</p>
					<p><span class="highlight">1</span> Bar Stand</p>
					<p><span class="highlight">1</span> Stage</p>
					<p><span class="highlight">2</span> Flat Screen TV (to Stream Images)</p>
					<p><span class="highlight">55</span> Folding Chairs</p>
					<p><span class="highlight">4</span> Round Tables (54”)</p>
					<p><span class="highlight">4</span> Rectangular Tables (6’)</p>
					<p><span class="highlight">5</span> Cocktail Cake Table (36”)</p>
					<p><span class="highlight">13</span> White Polyester Table Linens </p>
					
				</section>
				<section class="bold">
					<section>
						<p><span class="highlight underline day-hour">Friday 5 Hour</span> Rate: <span class="rate">$1,850</span> Any 5 hours between</p>
						<p class="center"><span class="glow underline time">11:00am - 6:00pm or 8:00pm - 2:00am</span></p>
						
						<p><span class="highlight underline day-hour">Friday 4 Hour</span> Rate: <span class="rate">$1,675</span> Any 4 hours between</p>
						<p class="center"><span class="glow underline time">11:00am - 6:00pm or 8:00pm - 2:00am</span></p>

						<p><span class="highlight underline day-hour">Saturday 5 Hour</span> Rate: <span class="rate">$1,800</span> Any 5 hours between</p>
						<p class="center"><span class="glow underline time">11:00am - 6:00pm or 8:00pm - 2:00am</span></p>				

						<p><span class="highlight underline day-hour">Saturday 4 Hour</span> Rate: <span class="rate">$1,750</span> Any 4 hours between</p>
						<p class="center"><span class="glow underline time">11:00am - 6:00pm or 8:00pm - 2:00am</span></p>

						<p><span class="highlight underline day-hour">Sunday 5 Hour</span> Rate: <span class="rate">$1,530</span> Any 5 hours between</p>
						<p class="center"><span class="glow underline time">11:00am - 4:00pm or 5:00pm - 10:00pm</span></p>				

						<p><span class="highlight underline day-hour">Sunday 4 Hour</span> Rate: <span class="rate">$1,480</span> Any 4 hours between</p>
						<p class="center"><span class="glow underline time">11:00am - 6:00pm or 8:00pm - 2:00am</span></p>				

						<p><span class="highlight underline day-hour">Monday - Thursday</span> (Event Celebrations) Rate: <span class="rate">$1,100</span> between</p>
						<p class="center"><span class="glow underline time">8:00am - 8:00pm</span></p>				

						<p class="highlight">Half (50%) of the total is required to lock in your date and time.</p>
					</section>
					<section class="bold uppercase">Security Deposit</section>					
					<section>					
						<p class="special-copy">Your <span class="highlight glow">$200</span> Security Deposit is included in the prices
						above and will be refunded to the renter at the end of
						the renter’s event provided the space and its
						equipment isn’t damaged nor lost.</p>
					</section>
				</section>	
			</section>
		</section>

		<section>
    		<p>
    			<a href="/kids.php">Click here for pricing on kids birthday packages</a>				
			</p>
  		</section>	
</section>