<section class="body">
	<h2>Suite 116 Price list </h2>
	<section class="pricing center">
		<section>
			<img src="imgs/suitepackage1.png" />
			<section class="bold uppercase">Package #1</section>
			<section>
				<p><span class="highlight underline">Rental Items Include: </span></p>

				<p><span class="highlight">2</span> Rooms – Clean Up is Included</p>
				<p><span class="highlight">1</span> Complimentary Hour Prior</p>
				<p>Security Agent (Events after 10pm)</p>
				<p>iPod Accessible Sound Speaker</p>
				<p><span class="highlight">2</span> Bathrooms</p>
				<p><span class="highlight">1</span> Refrigerator, <span class="highlight">1</span> Bar Stand, <span class="highlight">1</span> Stage</p>
				<p>2 Flat Screen TV (Stream Images)</p>
				<p><span class="highlight">10 </span> Up Lights (6 Color Choices)</p>
				<p><span class="highlight">2</span> Panel Ceiling Draping</p>
				<p><span class="highlight">55</span> Folding Chairs</p>
				<p><span class="highlight">4</span> Round Tables (54”)</p>
				<p><span class="highlight">4</span> Rectangular Tables (6') </p>
				<p><span class="highlight">5</span> Cocktail Cake Table (36”)</p>
				<p><span class="highlight">13</span> White Polyester Table Linens</p>

			</section>
			<section class="bold">

				<p><span class="highlight underline day-hour">Friday 5 Hour</span> Rate: <span class="rate">$1,700</span></p>
				<p class="center"><span class="glow underline time">5:00pm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Saturday 5 Hour</span> Rate: <span class="rate">$1,980</span></p>
				<p class="center"><span class="glow underline time">11:00am - 7:00pm or 7:00pm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Sunday 5 Hour</span> Rate: <span class="rate">$1,650</span></p>
				<p class="center"><span class="glow underline time">2:00pm - 10:00pm</span></p>

				<p><span class="highlight underline day-hour">Monday - Thursday</span> (Event Celebrations)</p>

				<p class="center">
					<span class="highlight underline day-hour"> 5 hour</span> Rate: <span class="rate">$1000</span>
					<span class="glow underline time">4:00pm - 12:00pm</span>
				</p>

				<p class="highlight">Half (50%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Food and Beverage Package</section>
			<section>
				<p class="special-copy"><span>$23 per person (50 person minimum/75 person maximum)</span></p>
				<p><span class="glow">Pricing includes 3 choices of Meat 2 carbs and Salads along with non alcoholic beverages</span></p>
				<p class="highlight">(30%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Security Deposit</section>
			<section>
				<p class="special-copy">Your <span class="highlight glow">$200</span> Security Deposit is included in the prices
					above and will be refunded to the renter at the end of
					the renter’s event provided the space and its
					equipment isn’t damaged nor lost.</p>
			</section>
		</section>

		<section>
			<img src="imgs/suitepackage2.png" />
			<section class="bold uppercase">Package #2</section>
			<section>
				<p><span class="highlight underline">Rental Items Include: </span></p>

				<p><span class="highlight">10</span> Up Lights (6 color choices)</p>
				<p><span class="highlight">2</span> Panel Ceiling Draping</p>
				<p><span class="highlight">6</span> Panel Wall Draping (Side Walls)</p>
				<p><span class="highlight">9</span> Panel Draped Lounge Area</p>
				<p><span class="highlight">4</span> Round Tables (54”)</p>
				<p><span class="highlight">4</span> Rectangular Tables (6') </p>
				<p><span class="highlight">5</span> Cocktail Cake Table (36”)</p>
				<p><span class="highlight">13</span> White Polyester Table Linens</p>
				<p><span class="highlight">2</span> Table Covers w/ Table Skirt</p>
				<p><span class="highlight">55</span> Folding Chairs</p>
				<p><span class="highlight">55</span> White Chair Covers</p>
				<p>Setup, Break Down &amp; Clean up</p>


			</section>
			<section class="bold">

				<p><span class="highlight underline day-hour">Friday 5 Hour</span> Rate: <span class="rate">$2,160</span></p>
				<p class="center"><span class="glow underline time">5:00pm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Saturday 5 Hour</span> Rate: <span class="rate">$2,450</span></p>
				<p class="center"><span class="glow underline time">11:00am - 7:00pm or 7:00pm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Sunday 5 Hour</span> Rate: <span class="rate">$1,950</span></p>
				<p class="center"><span class="glow underline time">2:00pm - 10:00pm</span></p>

				<p><span class="highlight underline day-hour">Monday - Thursday</span></p>
				<p class="center">
					<span class="highlight underline day-hour"> 5 hour</span> Rate: <span class="rate">$1,500</span> between
					<span class="glow underline time">4:00pm - 12:00pm</span>
				</p>

				<p class="highlight">Half (50%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Food and Beverage Package</section>
			<section>
				<p class="special-copy"><span>$23 per person (50 person minimum/75 person maximum)</span></p>
				<p><span class="glow">Pricing includes 3 choices of Meat 2 carbs and Salad along with non alcoholic beverages</span></p>
				<p class="highlight">(30%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Security Deposit</section>
			<section>
				<p class="special-copy">Your <span class="highlight glow">$200</span> Security Deposit is included in the prices
					above and will be refunded to the renter at the end of
					the renter’s event provided the space and its
					equipment isn’t damaged nor lost.</p>
			</section>
		</section>

		<section>
			<img src="imgs/suitepackage3.png" />
			<section class="bold uppercase">Package #3</section>
			<section>
				<p><span class="highlight underline">Rental Items Include: </span></p>

				<p><span class="highlight">12</span> Up Lights (6 color choices)</p>
				<p><span class="highlight">2</span> Panel Ceiling Draping</p>
				<p><span class="highlight">6</span> Panel Wall Draping (Side Walls)</p>
				<p><span class="highlight">9</span> Panel Draped Lounge Area</p>
				<p><span class="highlight">4</span> Round Tables (54”)</p>
				<p><span class="highlight">4</span> Rectangular Tables (6') </p>
				<p><span class="highlight">5</span> Cocktail Cake Table (36”)</p>
				<p><span class="highlight">13</span> White Polyester Table Linens (Any Color)</p>
				<p><span class="highlight">2</span> Table Covers w/ Table Skirt</p>
				<p><span class="highlight">55</span> Folding Chairs</p>
				<p><span class="highlight">55</span> Spandex Chair Covers (Black or White)</p>
				<p><span class="highlight">55</span> Chair Sashes</p>
				<p><span class="highlight">11</span> Table Runners (Any Color)</p>
				<p><span class="highlight">2</span> Draped Lounge Couches</p>
				<p>Table Setting Setup: <span class="highlight">110</span> Plates, <span class="highlight">55</span> Napkins, <span class="highlight">110</span> Utensils (<span class="highlight">55</span> Forks &amp; 55 Knives)</p>

				<p>Setup, Break Down &amp;amp; Clean up</p>
			</section>
			<section class="bold">

				<p><span class="highlight underline day-hour">Friday 5 Hour</span> Rate: <span class="rate">$2,400</span></p>
				<p class="center"><span class="glow underline time">5:00pm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Saturday 5 Hour</span> Rate: <span class="rate">$2,750</span></p>
				<p class="center"><span class="glow underline time">11:00am - 7:00pm or 7:00pm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Sunday 5 Hour</span> Rate: <span class="rate">$2,350</span> Any 5 hours between</p>
				<p class="center"><span class="glow underline time">2:00pm - 10:00pm</span></p>

				<p><span class="highlight underline day-hour">Monday - Thursday</span> (Event Celebrations)</p>
				<p class="center">
					<span class="highlight underline day-hour"> 4 hour</span> Rate: <span class="rate">$1,750</span> between
					<span class="glow underline time">4:00pm - 12:00am</span>
				</p>

				<p class="highlight">Half (50%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Food and Beverage Package</section>
			<section>
				<p class="special-copy"><span>$23 per person (50 person minimum/75 person maximum)</span></p>
				<p><span class="glow">Pricing includes 3 choices of Meat 2 carbs and Salad along with non alcoholic beverages</span></p>
				<p class="highlight">(30%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Security Deposit</section>
			<section>
				<p class="special-copy">Your <span class="highlight glow">$200</span> Security Deposit is included in the prices
					above and will be refunded to the renter at the end of
					the renter’s event provided the space and its
					equipment isn’t damaged nor lost.</p>
			</section>
		</section>

		<section>
			<img src="imgs/suitepackage4.png" />
			<section class="bold uppercase">Package #4</section>
			<section>
				<p><span class="highlight underline">Rental Items Include: </span></p>

				<p><span class="highlight">12</span> Up Lights (6 color choices)</p>
				<p><span class="highlight">2</span> Panel Ceiling Draping</p>

				<p><span class="highlight">9*</span> Panel Wall Draping w/ Any Color Sash &amp; Accessory </p>
				<p><span class="highlight">*</span> (Side Walls, Mirror, Color Sash &amp; Accessory)</p>

				<p><span class="highlight">9*</span> Panel Draped Lounge Area</p>
				<p><span class="highlight">*</span> Lounge Area Draped Entrance Color Sashes &amp; Accessory</p>

				<p><span class="highlight">13*</span> Tables of your Choice</p>
				<p><span class="highlight">*</span> 36" cocktail, 54" Round, 6' Rectangular</p>
				<p><span class="highlight">12</span> Table Linens (Any Color) </p>
				<p><span class="highlight">2</span> Table Covers (Any Color) w/ Table Skirt</p>

				<p><span class="highlight">60</span> Folding Chairs</p>
				<p><span class="highlight">60</span> Spandex Chair Covers (Black or White)</p>
				<p><span class="highlight">60</span> Chair Sashes</p>

				<p><span class="highlight">12</span> Table Runners (Any Color)</p>
				<p><span class="highlight">2</span> Draped Lounge Couches with Color Sashes</p>

				<p>Table Setting Setup: <span class="highlight">120</span> Plates, <span class="highlight">60</span> Napkins, <span class="highlight">120</span> Utensils &amp; <span class="highlight">60</span> Cups</p>

				<p>Setup, Break Down &amp; Clean up</p>
			</section>
			<section class="bold">

				<p><span class="highlight underline day-hour">Friday 5 Hour</span> Rate: <span class="rate">$2750</span></p>
				<p class="center"><span class="glow underline time">5:00apm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Saturday 5 Hour</span> Rate: <span class="rate">$3,000</span> Any 5 hours between</p>
				<p class="center"><span class="glow underline time">11:00am - 7:00pm or 7:00pm - 2:00am</span></p>

				<p><span class="highlight underline day-hour">Sunday 5 Hour</span> Rate: <span class="rate">$2,600</span> Any 5 hours between</p>
				<p class="center"><span class="glow underline time">2:00pm - 10:00pm</span></p>

				<p><span class="highlight underline day-hour">Monday - Thursday</span> (Event Celebrations)</p>
				<p class="center">
					<span class="highlight underline day-hour"> 5 hour</span> Rate: <span class="rate">$2,000</span> between
					<span class="glow underline time">4:00pm - 12:00pm</span>
				</p>

				<p class="highlight">Floral Arrangements are Additional</p>
				<p class="highlight">Half (50%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Food and Beverage Package</section>
			<section>
				<p class="special-copy"><span>$23 per person (50 person minimum/75 person maximum)</span></p>
				<p><span class="glow">Pricing includes 3 choices of Meat 2 carbs and Salad along with non alcoholic beverages</span></p>
				<p class="highlight">(30%) of the total is required to lock in your date and time.</p>
			</section>
			<section class="bold uppercase">Security Deposit</section>
			<section>
				<p class="special-copy">Your <span class="highlight glow">$200</span> Security Deposit is included in the prices
					above and will be refunded to the renter at the end of
					the renter’s event provided the space and its
					equipment isn’t damaged nor lost.</p>
			</section>
		</section>

	</section>

	<section>
		<p>
			<a href="/kids.php">Click here for pricing on kids birthday packages</a>
		</p>
	</section>
</section>
