<section class="body">
	<h2>Repast Rates</h2>
	
	<p>Repast Rates are $125hr at a 3 hour minimum.</p>

	<p>For inquiries and bookings, call (917) 412-9722, or send an email below.</p>

	<div id="email-wedding">
		<h2>Contact a Wedding Planner</h2>
		<div class="js-error-box">Uh, Oh. Looks like you missed a few fields! Can you fill those in? Thanks!</div>
		<form method="POST" action="contact.php"> Fields marked (*) are required		
			<input type="hidden" name="mailTo1" value="suiteat116@gmail.com" />
			<input type="hidden" name="mailTo2" value="suiteat116@gmail.com" />
			<input type="hidden" name="Mode" value="wedding" />
			<p>Email:* <br /> <input class="text email" name="Email" type="text" /></p>
			<p>Tel:* <br /> <input class="text tel" name="Tel" type="text" /></p>
			<p>Comments: <br /> <textarea class="comments" name="Comments"></textarea></p>	
			<p><input name="submit" value="Submit" type="submit" /></p>		
		</form>
	</div>
	
</section>